#container,
#chart,
#chart1,
#map,
#mapSelectors,
#mapSelectors select,
#mapSelectors select option,
#eventSelectors,
#eventSelectors select,
#eventSelectors select option,

#map{
    margin: 20px 0px;
    z-index: 9;

}

#mapSelectors > select{
    margin: -5px 0px;
    height:50px;
    width:200px;
}

#eventSelectors > select{
    margin: -5px 0px;
    height:50px;
    width:200px;
}

#chart{
    float: left;
    background-color: #105cb6;

}
#chart1{
    float: left;
    background-color: #f1f1f1;
}