#container,
#chart,
#chart1,
#chart2,
#chart3,
#map,
#menu-bar,
#mapSelectors,
#mapSelectors select,
#mapSelectors select option,
#eventSelectors,
#eventSelectors select,
#eventSelectors select option,




#map{
    margin: 10px 0px;
    z-index: 9;

}

#mapSelectors > select{
    margin: -5px 0px;
    height:20px;
    width:11%;
}

#eventSelectors > select{
    margin: -5px 0px;
    height:20px;
    width:11%;
}

#chart{
    width: auto;
    float: left;
    /*background-color: #105cb6;*/

}
#chart1{
    height: auto;
    width: 100%;
    position: relative;
    background-color: #91e3f5;
}

#chart2{
    height:auto;
    width:100%;
    /*background-color: #f8f8f8;*/
}
#chart3{
    height:auto;
    width:100%;
}

.axis text{
    font: 10px sans-serif;

}

.axis line,
.axis path{
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;

}

svg .arc {
    stroke: #000;
    stroke-width: .5px;
}

.legend{
    top: 20px;

}